


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.nav-h1 {
    font-size: 24px;
    color: green;
    font-family: Georgia, serif;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    
}

.nav-h1:hover{
    color: #d3d3d3;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    transition: background-color 0.2s, color 0.2s; 

}

.menu a:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}

  
  .menu a.active {
    background-color: #c0c0c0;
    font-weight: bold;
  }
  