


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
<<<<<<< HEAD
    background-color: #f8f9fa;
=======
    background-color: #e9e9e9;
    /* border-bottom: 1px solid #ddd;  Kanske vill ha runt hela?*/
    color: #000000;
>>>>>>> origin/quiz_highScore_copy
}

/* Name that country - nav bar */
.nav-h1, .title {
    /* 
    font-size: 24px;
    color: green;
    font-family: Georgia, serif;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
*/
    font-family: 'Newsreader', serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #1F6B61;
    
}

.nav-h1:hover{
    color: #d3d3d3;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    transition: background-color 0.2s, color 0.2s; 

}

.menu a:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}

  
  .menu a.active {
    background-color: #c0c0c0;
    font-weight: bold;
  }
  